<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152744793356-k8ecb2pje89nomhdjndj1cp74vgfrm7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152744793356-k8ecb2pje89nomhdjndj1cp74vgfrm7s</string>
	<key>API_KEY</key>
	<string>AIzaSyAVpFviXyMuNh2nO2YeEDz0N-mcmfPkhhA</string>
	<key>GCM_SENDER_ID</key>
	<string>152744793356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoMn</string>
	<key>PROJECT_ID</key>
	<string>todo-mn</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-mn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152744793356:ios:75d5dff93f2121d641e529</string>
</dict>
</plist>